*{margin: 0; padding: 0;}
a{text-decoration: none; color: white; font-size: 0.8rem; font-weight: bold;}
.upper{background-color: black; width: 100%; height: 50px;}
.wrapper{text-align: center; margin-top: -50px; width: 100%;}
.content{display: inline-block; width: 600px;}
.wrappermost{width: 600px; height: 50px;}
ul{color:white; background-color: black; font-size: 0.8rem; font-weight: bold;}
.wrappermost > ul{text-align: right;}
li{display: inline-block;}
li:hover{text-decoration: underline;}
header{
  background-image: url(https://cdn.pixabay.com/photo/2019/10/24/02/18/halloween-4573176__340.jpg);
  width: 600px; height: 150px;
  background-position: center;
}
main{width: 600px; height: 50px;}
main li{padding: 1rem 2rem;}
section{text-align: center; background-color: lightskyblue; box-sizing: content-box; overflow: hidden;}
.left{width: 20%; background-color: lightskyblue;}
.right{width: 80%; background-color: lightcyan; float: right;}
form{text-align: center;}
fieldset{border: none; background-color: white; margin: 0.1em;text-align: left; display: inline-block;} 
footer{width: 600px; height: 70px; line-height: 75px; background-color: gray;
font-size: 1rem; font-weight: bold;  color: white;
clear: both;}
h3{line-height: 3rem;}
.name{width: 300px;}
.bt{text-align: center;}